<div class="background">
  <div class="container">
    <h1 class="header">hi welcome to my <strong>Web Dev</strong> portfolio</h1>
    <div class="text">
        <%= image_tag 'portret-sqaure.jpeg', class: "avatar-large" %>
        <p class="mt-3">My name is <strong>Joeri Verdegaal</strong> and I am a <strong>full stack web developer</strong> based in Amsterdam, NL. As I am at the start of my career in tech, I’m looking forward te keep learning and develope my skills. </p>
    </div>
  </div>
</div>
